@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: azure;
}

.titulo-colorido {
    color: aqua;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.apresentacao__links_link{
    font-family: 'Montserrat', sans-serif;
    background-color: #22D4FD;
    padding: 21.5px 0;
    width: 280px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-weight: 600;
    color: black;
    font-size: 24px;

}